<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="/static/font-awesome.css">
        

        <title>{% block title %}{% endblock %}</title>
    </head>
    <div
          class="p-5 text-center bg-image"
          style="background-image: url(https://store-images.s-microsoft.com/image/apps.15160.14439434818564022.3318c674-5d77-439f-a11b-5f9c9ebb2aa3.5d9b6e54-e872-4c9d-87ab-b87faaa40eb8);"
        >
        <div class="container">
          
          
          <div>
                <h1 class="display-4 text-center">Compra y venta de Criptomonedas</h1>
          </div>
          <br>
          <div>
            {% for mensaje in mensajes %}
                <p class="alert alert-dismissible alert-danger">{{ mensaje }}</p>
            {% endfor %}
          </div>

            <div>
              {% with messages = get_flashed_messages()%}
                  {% if messages %}
                  <div class="alert alert-dismissible alert-danger">
                      {%for message in messages%}
                      <li class = "alert alert-dismissible alert-danger">{{message}}</li>
                      {%endfor%}
                  </div>
                  {% endif %}
              {% endwith %}
          </div>
          
            <header>
              <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">

                    {% if title %}
                    <li class="nav-item active"></li>
                    <a class="nav-link">Inicio</a>
                    {% else %}
                    <li class="nav-item active"></li>
                    <a class="nav-link" href="/">Inicio</a>
                    {% endif %}

                    {% if validacion %}
                    <li class="nav-item"></li>
                    <a class="nav-link">Invertir</a>
                    {% else %}
                    <li class="nav-item"></li>
                    <a class="nav-link" href="/purchase">Invertir</a>
                    {% endif %}

                    {%if suma_saldo%}
                    <li class="nav-item"></li>
                    <a class="nav-link">Estado de las inversiones</a>
                    {% else %}
                    <li class="nav-item"></li>
                    <a class="nav-link" href="/status">Estado de las inversiones</a>
                    {% endif %}
            </header>
<br></br>
            <div class="container">
                {% block content %}{% endblock %}
                <br>
            </div>
            <footer>
                &copy; 2020 - 2021. Todos los derechos reservados
            </footer>
            <br>
    </body>
</html>