{% extends 'index.html' %} 

{% block title %} Compra de criptos {% endblock %}

{%block content%} 

<div class="card card-body">
    <form action = "{{url_for('compra_venta')}}" method="POST">
        {{validacion.hidden_tag()}}
        
            <div class="field">
                {{ validacion.from_currency.label }}
                {{validacion.from_currency}}
                {% for error in validacion.from_currency.errors %}
                    <p class="err-msg">
                        {{ error }}
                    </p>
                {% endfor %}
            </div>

            <div class="field">
                {{ validacion.to_currency.label }}
                {{validacion.to_currency}}
                {% for error in validacion.to_currency.errors %}
                    <p class="err-msg">
                        {{ error }}
                    </p>
                {% endfor %} 
            </div>

            <div class="field">
                {{ validacion.from_quantity.label }}
                {{validacion.from_quantity}}
                {% for error in validacion.from_quantity.errors %}
                    <p class="err-msg">
                        {{ error }}
                    </p>
                {% endfor %} 
            </div>

            <div class="field">
                {{ validacion.to_quantity.label }}   
                {% if to_quantity %}
                    {{validacion.to_quantity(value = '{:.6f}'.format(to_quantity), readonly = "readonly" )}}
                {% endif %}
                {% for error in validacion.to_quantity.errors %}
                    <p class="err-msg">
                        {{ error }}
                    </p>
                {% endfor %} 
            </div>
            
            <div class="field">
                {{ validacion.p_u.label }}
                {% if p_u %}
                    {{validacion.p_u(value = '{:.6f}'.format(p_u), readonly = "readonly" )}}
                {% endif %}
                {% for error in validacion.p_u.errors %}
                <p class="err-msg">
                        {{ error }}
                        </p>
                    {% endfor %} 
            </div>

            <div class="field">
                {{ validacion.calculadora }}   
            </div>

            <div class="field">
                {{ validacion.submit }}
                {% for error in validacion.submit.errors %}
                <p class="err-msg">
                    {{ error }}
                    </p>
                {% endfor %}    
            </div>

        
        </form>
    </div>
    
    
    

{%endblock%}