{% extends 'index.html' %} 

{% block title %} Estado de las inversiones {% endblock %}
<header>
    <div class="header_proyecto">Proyecto Flask - Criptomonedas</div>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/purchase">Compra</a></li>
            <li><a href="">Status</a></li>
        </ul>
    </nav>
</header>
{%block content%} 

<div class="card card-body">
    <form action = "{{url_for('estado_inversiones')}}" method="GET">
</div>   

<div>
    <p>EUROS INVERTIDOS</p>
    <p>{{suma_invertidos}}</p>
</div>

<div>
    <p>VALOR ACTUAL</p>
    <p>{{valor_actual}}</p>
</div>

<div>
    <p>RENTABILIDAD</p>
    <p>{{rentabilidad}}</p>
</div>
    
{%endblock%}