{% extends 'base.html' %}

{% block title %} Compra y venta de Criptomonedas {% endblock %}
<header>
    <div class="header_proyecto">Proyecto Flask - Criptomonedas</div>
    <nav>
        <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="/purchase">Compra</a></li>
            <li><a href="/status">Status</a></li>
        </ul>
    </nav>
</header>
{% block content %}
    <div class="title grid">
        <h1 class="title_text">Movimientos de compra y venta</h1>
    </div>
    
    {% if datos|length > 0 %}
        <table>
            <tr>
                <th class="date">Fecha</th>
                <th class="time">Hora</th>
                <th class="from_currency">Moneda_from</th>
                <th class="from_quantity">Cantidad_from</th>
                <th class="to_currency">Moneda_to</th>
                <th class="to_quantity">Cantidad_to<th>
                <th class="p_u">P_U<th>

            </tr>
        {% for dato in datos %}
            <tr>
                <td>{{ dato['date'] }}</td>
                <td>{{ dato['time'] }}</td>
                <td>{{ dato['from_currency'] }} </td>
                <td>{{ dato['from_quantity'] }} </td>
                <td>{{ dato['to_currency'] }} </td>
                <td>{{ dato['to_quantity'] }} </td>
                <td>{{ dato['p_u'] }} </td>
            </tr>
        {% endfor %}
    {% else %}
        <p>SIN MOVIMIENTOS</p>
        
    {% endif %}
    {% endblock %}