{% extends 'base.html' %}

{% block title %} {% endblock %}

<div class="container">

{% block content %}


<div class="card card-body">
  <form action = "{{url_for('index')}}" method="GET">
<br>
    <div>
        <h1 class = "text-center">Movimientos de compra y venta</h1>
<br>

{% if datos|length > 0 %}

    <table class="table table-hover">
        <tbody>
          <tr class="table-success text-center">
            <th class="date text-center">Fecha</th>
            <th class="time text-center">Hora</th>
            <th class="from_currency text-center">Moneda_from</th>
            <th class="from_quantity text-center">Cantidad_from</th>
            <th class="to_currency text-center">Moneda_to</th>
            <th class="to_quantity text-center">Cantidad_to<th>
            <th>P.U<th>
          </tr>

{% for dato in datos %}

          <tr class="table-light text-center">
            <td>{{ dato['date'] }}</td>
            <td>{{ dato['time'] }}</td>
            <td>{{ dato['from_currency'] }} </td>
            <td>{{ dato['from_quantity'] }} </td>
            <td>{{ dato['to_currency'] }} </td>
            <td>{{ dato['to_quantity'] }} </td>
            <td colspan="3">{{ dato['p_u'] }} </td>
          </tr>
       
{% endfor %}
    </tbody>
  </table>  

    {% else %}
    
    <div class="alert alert-dismissible alert-warning">
        <h4 class="alert-heading">SIN MOVIMIENTOS</h4>
{% endif %}
{% endblock %}